<% if object.errors.any? %>
<div class="span9">
  <div class="alert alert-error">
    <a class="close" data-dismiss="alert">×</a>
    <%= t('activerecord.generic_record_invalid') %>
    <%# OPTIMIZE: aggiungere errors di events %>
<%# Upgrade 2.1.0 inizio %>
    <ul>
      <% object.errors.each do |key, message| %>
<%# Upgrade 2.2.0 inizio %>
        <li>
          <%#= t(key) + ": " + message.to_s %>
          <%= t(key).to_s + ": " + message.to_s %>
        </li>
<%# Upgrade 2.2.0 fine %>
      <% end %>
    </ul>
<%# Upgrade 2.1.0 fine %>
  </div>
</div>
<% end %>