<%# Upgrade 2.1.0 inizio %>

<div class="fields row">
  <div class="span8"><%= f.text_field :stmd, :class =>"span8 sc2_field" %></div>
  <div class="span1 destroy"><%= f.check_box :_destroy %> <%= f.label :_destroy, t('destroy') %></div>
</div>
<%# Upgrade 2.1.0 fine %>
