<%# Upgrade 2.1.0 inizio %>

<div class="modal hide fade" id="sc2-openvoc-dialog" >
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <label id="lblVocCaption"></label>
  </div>
  <div class="modal-body">
    <div id="divInfo"><label id="lblInfo"></label></div>
    <table id="tblValues" class="VocValuesArea" cellspacing="1" cellpadding="0" border="0">
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button id="btnClose" class="btn" data-dismiss="modal"><%= t('cancel') %></button>
  </div>
</div>
<%# Upgrade 2.1.0 fine %>
