<p>Seleziona una scheda fonte, scegliendo prima il formato di esportazione</p>
<%# TAI aggiunto = prima di form_tag %>
<%= form_tag("/exports", :method => :get, :id => "exports-source-choice", :class => "skip-prompt export-wait") do %>
  <div style="margin: 7px 0 0 0;">
    <div>
      <span class="ui-icon ui-icon-search" style="display:inline; float:left; margin: 5px 0 0 0;">&nbsp;</span>
    </div>
    <div style="margin-left:16px; padding-left:10px;">
      <%= text_field_tag :q, params[:q], :id => "exports-source-name-autocomplete",
        :class => "autocomplete",
        :'data-autocompletion-controller' => 'sources',
        :'data-autocompletion-action' => 'list',
        :style => "width:600px;" %>
      <%= hidden_field_tag :target_id, "", :id => "exports-source-id-autocomplete" %>
    </div>
  </div>
<% end %>